-- SQL UPDATE para establecer la contrase├▒a del usuario admin
UPDATE users SET password_hash = '$2y$10$fK5KwQQ3p92Kojs/HRHXpeEyCofjtDrmXQAyPPD2ZtqgRj.U7P5Gy' WHERE username = 'admin';
-- Contrase├▒a en texto claro: Prueba123!
-- Hash: $2y$10$fK5KwQQ3p92Kojs/HRHXpeEyCofjtDrmXQAyPPD2ZtqgRj.U7P5Gy
